*.swp
*.swo
__pycache__
*.log

# folder pretrained models
/pretrained_models

# folder testing
/test

# folder inference results
/inference_results
*.png
*.jpg
*.jpeg

# Model checkpoints và Large files
*.pt
*.pth
*.tar

# Thư mục output nặng (chứa checkpoint và cache v3/v4)
/forensic_outputs/
